<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Add user panel</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>

<form th:action="@{/logout}" method="post">
    <input type="submit" value="Logout" class="btn btn-dark text-secondary"/>
</form>


<section>
    <div class="container-fluid">
        <div class="row">
            <form th:method="post" th:action="@{/admin/add}" th:object="${user}">
                <div>
                    <label for="name">First name</label>
                </div>
                <div>
                    <input id="name" type="text" th:field="*{firstname}"/>
                </div>
                <div>
                    <label for="lastName">Last name</label>
                </div>
                <div>
                    <input id="lastName" type="text" th:field="*{lastName}"/>
                </div>
                <div>
                    <label for="age">Age</label>
                </div>
                <div>
                    <input id="age" type="number" th:field="*{age}"/>
                </div>
                <div>
                    <label for="email">Email</label>
                </div>
                <div>
                    <input id="email" type="text" th:field="*{email}"/>
                </div>

                <div>
                    <label for="username">Username</label>
                </div>
                <div>
                    <input id="username" type="text" th:field="*{username}"/>
                </div>

                <div>
                    <label for="pass">Password</label>
                </div>
                <div>
                    <input id="pass" type="text" th:field="*{password}"/>
                </div>
                <div>
                    <label for="role">Role</label>
                </div>
                <div>
                    <select id="role" th:field="*{roles}">

                        <option th:value="'USER'">USER</option>

                        <option th:value="'ADMIN'">ADMIN</option>

                    </select>
                </div>
                <br>
                <div>
                    <input type="submit" value="Add new user"/>
                </div>
            </form>
        </div>

    </div>

</section>

</body>
</html>