
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Admin panel</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Logout" class="btn btn-dark text-secondary"/>
    </form>

</head>
<body>

<section>
    <div >
        <div >
            <a >Users table</a>
            <div >
                <div >
                    <h1>Admin panel</h1>
                    <div >
                            <a href="/admin/add">New User</a>
                        <div c>
                            <div c>
                                <div >
                                    <div>All users</div>
                                </div>
                            </div>
                            <div  >
                                <table  th:each="user : ${users}">
                                    <thead >
                                    <tr >
                                        <th>ID</th>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>Age</th>
                                        <th>Email</th>
                                        <th>Role</th>
                                    </tr>
                                    </thead>
                                    <tr >
                                        <tbody>
                                        <tr>
                                            <td th:text="${user.id}">id</td>
                                            <td th:text="${user.firstname}">first name</td>
                                            <td th:text="${user.lastName}">last name</td>
                                            <td th:text="${user.age}">age</td>
                                            <td th:text="${user.email}">email</td>
                                            <td><label th:each="role : ${user.roles}">
                                                <label th:text="${role}">ROLE </label>
                                            </label>
                                            </td>
                                            <td>
                                                <form th:method="get" th:action="@{/admin/edit/{id}(id=${user.getId()})}">
                                                    <input type="submit" value="Edit" class="b1"/>
                                                </form>
                                            </td>
                                            <td>
                                                <form th:method="delete" th:action="@{/admin/delete/{id}(id=${user.getId()})}">
                                                    <input type="submit" value="Delete" class="b2"/>
                                                </form>
                                            </td>

                                        </tr>
                                        </tbody>

                                    </tr>
                                </table>
                            </div>

                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

</nav>
</body>
</html>

