<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <title>Edit user</title>

</head>
<body>
<a href="javascript: document.logoutForm.submit()" role="menuitem"> Logout</a>
<form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
    <input hidden type="submit" value="Sign Out"/>
</form>
<h1>Edit user</h1>

<form th:method="patch" th:action="@{/admin/edit}" th:object="${user}">
    <table>
        <tr>
            <td>
                <label for="id">UserId</label>
                <input  th:field="*{id}" id="id" >
            </td>
        </tr>
        <td>
            <label for="name">Enter name</label>
            <input id="name"  type="text" th:field="*{firstname}" />
        </td>
        </tr>
        <tr>
            <td>
                <label  for="lastName" >Enter surname</label>
                <input id="lastName" type="text" th:field="*{lastName}" />
            </td>
        </tr>
        <br>
        <tr>
            <td>
                <label for="age">Enter age</label>
                <input id="age" type="number" th:field="*{age}" >
            </td>
        </tr>
        <br>
        <tr>
            <td>
                <label for="email">Enter email</label>
                <input type="text" th:field="*{email}" id="email" />
            </td>
        </tr>
        <br>
        <tr>
            <td>
                <label for="username">Enter usermame</label>
                <input type="text" th:field="*{username}" id="username" />
            </td>
        </tr>
        <br>

        <tr>
            <td>
                <label for="password">Enter password</label>
                <input type="text" th:field="*{password}" id="password" />
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" class="buttonEdit" value="Edit user"/>
            </td>
        </tr>



        <div>
            <select id="role" th:field="*{roles}" >

                <option  th:value="'USER'">USER</option>

                <option th:value="'ADMIN'">ADMIN</option>

            </select>
        </div>

    </table>
</form>
</body>
</html>